.stems-page {
    padding: 20px;
}

.stems-container {
    display: flex;
    flex-direction: column;
}

.stem-channel {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.stem-controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 10px;
}

.stem-controls h4 {
    margin-bottom: 5px;
}

.waveform {
    flex-grow: 1;
    background: #2D2D2D;
    border-radius: 10px;
    height: 80px; /* Match the height set in the WaveSurfer options */
}